* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0px 30px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
}

.nav-unregistered {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-unregistered > a {
  text-decoration: none;
  font-size: 1em;
  color: white;
  transition: 300ms;
  display: inline-block; /* Ensures the underline matches the text width correctly */
}

.nav-unregistered > a::after {
  content: "";
  display: block;
  background-color: white;
  margin-top: 5px;
  width: 0%;
  height: 2px;
  transition: width 300ms ease-in-out;
}

.nav-unregistered > a:hover::after {
  width: 100%;
}

body {
  background-color: rgb(247, 246, 246);
}

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.url-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 30px;
  background-color: white;
}

.url-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.url-form > input {
  padding: 10px;
  border: rgb(227, 227, 227) 1px solid;
}
.url-form > input:focus {
  outline: none;
}

.url-form-container > a {
  color: blue;
}

.url-submit-btn {
  background-color: black;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  transition: 300ms;
}

.url-submit-btn:hover {
  background-color: rgb(45, 45, 45);
}

.url-submitting-btn {
  background-color: rgb(45, 45, 45);
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  transition: 300ms;
}

.error-text {
  color: #dc2626; /* Clear accessible red */
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  margin-top: 0.275rem; /* 6px spacing below input */
  margin-bottom: 0;
  margin-left: 5px;
  text-shadow: 0 2px 5px rgba(220, 38, 38, 0.4);
  line-height: 1.25;
}

.success-text {
  color: green; /* Clear accessible red */
  font-size: 0.875rem; /* 14px */
  font-weight: 500;
  margin-top: 0.275rem; /* 6px spacing below input */
  margin-bottom: 0;
  margin-left: 5px;
  text-shadow: 0 2px 5px rgba(34, 223, 84, 0.4);
  line-height: 1.25;
}

.shortened-link-container {
  display: flex;
  align-items: center;
  gap: 3px;
}

.shortened-link-container > svg {
  margin-left: 2px;
}

/* Register Page */

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.register-form-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 100px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Core support for Safari */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
}

.register-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container > input {
  width: 400px;
  height: 50px;
  padding: 20px 30px;
  font-size: 1em;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 5px;
}

.input-container > svg {
  position: absolute;
  left: 7px;
}

.input-container > .lock {
  position: absolute;
  left: 7px;
}

.input-container > .eye {
  position: absolute;
  right: 7px;
}

.input-container input:focus {
  outline: none;
}

.input-error-container {
  display: flex;
  flex-direction: column;
}

.auth-submitting-btn {
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 10px;
  background-color: transparent;
  color: black;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 16px;
}

/* Login page */

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form-container {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 50px 100px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
}

.login-form-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.auth-submit-btn {
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 10px;
  background-color: black;
  color: white;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 16px;
  transition: 300ms;
}

.auth-submit-btn:hover {
  padding: 15px 30px;
  cursor: pointer;
  margin-top: 10px;
  background-color: white;
  color: black;
  border: 1px solid rgb(147, 147, 147);
  border-radius: 16px;
}

.logout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.logout-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  padding: 30px;
  background-color: white;
}

.logout-container > a {
  background-color: transparent;
  text-decoration: none;
  padding: 5px 10px;
  color: black;
  border-radius: 1px;
  border: 1px solid grey;
}
